### Hardware - KiCad ignores
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
*-cache.lib
*-rescue.lib
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files and schematics
*.xml
*.csv
*.pdf

# Production/Gerber Files
hardware/production
*.gbl
*.gbs
*.gbp
*.gbo
*.gm1
*.gtl
*.gts
*.gtp
*.gto
*.gbrjob
*.drl
*.drl_map.gbr
*.drl
*.drl_map.gbr
*.gbr

# -----------------------------------------------------
# Software
.pio
.vscode
software/.gitignore
