# This workflow setup was modified from: https://github.com/MicroType-Engineering/nuco-v-kibot-test
# This workflow generates documentation (PDFs, interactive BOMs, board images) and fabrication
# files for JLCPCB and PCBWay. The version number and date of the design is automatically
# updated in the schematic file and on the PCB based on the GitHub release version and date.

# To use this workflow in your own repo you need to edit the environment variables in the env: section
# below.
name: "KiBot - Release"

on:
  release:
    types: [published]

jobs:
  FabricationAndDocumentation:
    env:
      # Set this to the base filename of your project.
      BaseFileName: soil-moisture-sensor
      BaseDir: hardware
      # Set this to your local timezone. See https://www.wikiwand.com/en/List_of_tz_database_time_zones for valid strings.
      Timezone: Europe/Berlin
      # Set this to the output folder for all of the generated files. Unless you have a very
      # good reason to change this you should leave it as KiBotOutput.
      OutputFolder: KiBotOutput
    runs-on: ubuntu-latest

    # These are all the steps that generate the files.
    steps:
      # Check out the files
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      # Get the version of the GitHub release for use later.
      - name: Get GitHub release version
        id: get_version
        uses: battila7/get-version-action@v2
        if: startsWith(github.ref, 'refs/tags/')

      # Get the current date and time, in the timezone specified above, for use later.
      - name: Get current date and time
        id: date
        run: echo "::set-output name=date::$(TZ='${{ env.Timezone }}' date +'%Y-%m-%d')"

      # Do a string replacement in the schematic file to set the version and date.
      # Any instance of %%version%% in the schematic gets replaced with the release version.
      # Any instance of %%date%% in the schematic gets replaced with the release date and time.
      - name: Set schematic version
        uses: jacobtomlinson/gha-find-replace@master
        with:
          include: "${{ env.BaseDir }}/*.sch"
          find: "%%version%%"
          replace: "${{ steps.get_version.outputs.version }}"

      - name: Set schematic date
        uses: jacobtomlinson/gha-find-replace@master
        with:
          include: "${{ env.BaseDir }}/*.sch"
          find: "%%date%%"
          replace: ${{ steps.date.outputs.date }}

      # Do a string replacement in the PCB file to set the version and date.
      # Any instance of %%version%% in the schematic gets replaced with the release version.
      # Any instance of %%date%% in the schematic gets replaced with the release date and time.
      - name: Set PCB version
        uses: jacobtomlinson/gha-find-replace@master
        with:
          include: "${{ env.BaseDir }}/*.kicad_pcb"
          find: "%%version%%"
          replace: "${{ steps.get_version.outputs.major }}.${{ steps.get_version.outputs.minor }}"

      - name: Set PCB date
        uses: jacobtomlinson/gha-find-replace@master
        with:
          include: "${{ env.BaseDir }}/*.kicad_pcb"
          find: "%%date%%"
          replace: ${{ steps.date.outputs.date }}

      # Actually run KiBot to generate all the files. The KiBot script used is
      # in the .kibot/release.kibot.yaml folder.
      - name: Generate documentation files
        uses: INTI-CMNB/KiBot@v1
        with:
          config: .kibot/documentation.kibot.yaml
          dir: ${{ env.OutputFolder }}
          schema: "${{ env.BaseDir }}/${{ env.BaseFileName }}.sch"
          board: "${{ env.BaseDir }}/${{ env.BaseFileName }}.kicad_pcb"

      - name: Generate production files
        uses: INTI-CMNB/KiBot@v1
        with:
          config: .kibot/production.kibot.yaml
          dir: ${{ env.OutputFolder }}
          schema: "${{ env.BaseDir }}/${{ env.BaseFileName }}.sch"
          board: "${{ env.BaseDir }}/${{ env.BaseFileName }}.kicad_pcb"

      # Install the zip command line tool to package up the output
      - name: Install zip
        uses: montudor/action-zip@v1

      # Zip all the documentation. Any files in the PCBWay, PDFs, Renders, and Schematic subfolder
      # are automatically included.
      - name: Zip documentation
        run: zip -qq -r "../../${{ env.BaseFileName }}-documentation.zip" .
        working-directory: ${{ env.OutputFolder }}/Documentation

      - name: Zip production
        run: zip -qq -r "../../${{ env.BaseFileName }}-production.zip" .
        working-directory: ${{ env.OutputFolder }}/Gerbers

      # Upload all the zip files to the release.
      - name: Upload release files
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            ${{ env.BaseFileName }}-documentation.zip
            ${{ env.BaseFileName }}-production.zip
